@import "../../global.scss";

.about{
    // background-color: #737070;
    // background-image: linear-gradient(0deg, #737070 0%, #7b7878 50%, #989595 100%);
    background-color: #7f7c7c;
    // background-image: linear-gradient(0deg, #5e5d5d 0%, #737171 50%, #7f7c7c 100%);
    display: flex;
    align-items: center;    
    justify-content: center;
    position: relative;

    @include mobile {
        overflow: hidden;
    }

    .arrow{
        height: 50px;
        color: #e2dcdc;
        position: absolute;
        cursor: pointer;

        @include mobile{
            display: none;
        }

        &.left{
            left: 100px;
            transform: rotateY(180deg);
        }

        &.right{
            right: 100px;
        }
    }

    .slider{
        height: 350px;
        display: flex;
        position: absolute;
        left: 0;
        transition: all 1s ease-out;

        @include mobile {
            height: 100vh;
            flex-direction: column;
            justify-content: center;
        }

        .container{
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .item{
                width: 700px;
                height: 100%;
                background-color: #e2dcdc ;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                @include mobile {
                    width: 95%;
                    height: 140px;
                    margin: 5px 0;
                }

                .left{
                    flex: 4;
                    height: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .leftContainer{
                        width: 90%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        @include mobile {
                                    
                        }

                        h3{
                            font-size: 15px;

                            @include mobile {
                                font-size: 8.5px;
                            }
                        }

                        .imgContainer{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-color: $mainColor;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            img{
                                width: 40px;
                            }
                        }

                        h2 {
                            font-size: 20px;
                        }
                        p {
                            font-size: 13px;
                            display: none;
                        }
                    }
                }
                .right{
                    flex: 8;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;

                    img {
                        width: 400px;

                        @include mobile {
                            width: 85%;   
                        }
                    }
                }

            }
        }
    }

    

}