@import "../../global.scss";

.intro {
    // background-color: #7f7c7c;
    background-color: $mainColor;
    display: flex;

    @include mobile {
        flex-direction: column;
        align-items: center;
    }

    .left {
        flex: 0.5;
        overflow: hidden;

        .imgContainer {
            width: 100%;
            height: 130%;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: inherit;

            @include mobile {
                align-items: center;
                width: 85%;
                height: 120%;
                margin: 70px 20px;
            }

            img {
                width: 90%;
                height: 60%;
                margin: 140px 130px 390px 120px;

                @include mobile {
                    width: 85%;
                    height: 60%;
                    margin: 120px 0px 300px 0px;
                }
            }

        }
    }

    .right {
        flex: 0.5;
        position: relative;
        overflow: hidden;

        button {
            width: 150px;
            height: 30px;
            margin: 5px;
            color: $mainColor;
            background-color: #e2dcdc;
            border: none;
            border-radius: 10px;
            font-weight: 500;
            cursor: pointer;
            align-items: center;
            justify-content: center;

            &:focus {
                outline: none;
            }

        }

        .wrapper {
            width: 100%;
            height: 70%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include mobile {
                margin: 5px 15px;
            }

            h1 {
                font-size: 100px;
                margin: 10px 0;
                color: $accentColor;

                @include mobile {
                    font-size: 60px;
                }
            }

            h2 {
                font-size: 35px;
                color: $accentColor;

                @include mobile {
                    font-size: 20px;
                }
            }

            h3 {
                font-size: 40px;
                color: $accentColor;

                @include mobile {
                    font-size: 20px;
                }

                span {
                    font-size: inherit;
                    color: $redAccent;
                    // color: rgb(158, 27, 215);
                }

                .ityped-cursor {
                    animation: blink 1s infinite;
                    color: $accentColor;
                }

                @keyframes blink {
                    50% {
                        opacity: 1;
                    }

                    100% {
                        opacity: 0;
                    }
                }
            }

            a {
                position: absolute;
                bottom: 10px;
                left: 40%;

                // .icon{
                //     height: 75px;
                //     width: 75px;
                //     padding-left: 100px;
                //     margin: 100px 50px 100px 300px;
                //     display: flex;
                //     align-items: center;
                //     justify-content: center;
                // }
            }
        }

        .icon {
            height: 75px;
            width: 75px;
            margin: 50px 50px 100px 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            // color: rgb(158, 27, 215);
            animation: arrowBlink 2s infinite;

            @include mobile {
                margin: 5px 200px;
            }
        }

        @keyframes arrowBlink {
            100% {
                opacity: 0;
            }
        }
    }
}