@import "../../global.scss";

.work {
    // background-color: #7f7c7c;
    background-color: $mainColor;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 50px;
        color: $accentColor;
        margin-top: 15px;

        @include mobile {
            font-size: 20px;
        }
    }

    ul {
        color: $accentColor;
        margin: 10px;
        padding: 0;
        list-style: none;
        display: flex;

        @include mobile {
            flex-wrap: wrap;
            justify-content: center;
            margin: 0;
        }
    }

    .container {
        width: 70%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        @include mobile {
            width: 100%;
            display: grid;
            overflow-y: hidden;
        }

        a {
            @include mobile {
                height: 90%;
                overflow-y: hidden;
            }
        }

        .item {
            width: 370px;
            height: 290px;
            border-radius: 20px;
            border: 1px solid #e2dcdc;
            margin: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #e2dcdc;
            position: relative;
            transition: all .5s ease;
            cursor: pointer;

            @include mobile {
                width: 190px;
                height: 100px;
                margin: auto;
            }

            h3 {
                position: absolute;
                font-size: 20px;
            }

            p {
                position: absolute;
                font-size: 15px;
                margin: 80px 0 0 40px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
                // align-items: center;

                @include mobile {
                    border-radius: 20px;
                }

            }

            &:hover {
                background-color: $mainColor;

                img {
                    opacity: 0.2;
                    z-index: 0;
                }
            }
        }
    }
}